// _home.scss
.div-uno {
    text-align: center;
    margin: 20px 0;

    h2 {
        font-size: 2.5em;

        @media (max-width: $mobile) {
            font-size: 1.8em;
        }

        @media (min-width: $tablet) and (max-width: $desktop) {
            font-size: 2.2em;
        }
    }
}

// Carrusel
.carousel-inner {
    img {
        max-height: 500px; 
        object-fit: cover; 
    }
}